version: '3.9'

services:

  byk-public-ruuter:
    container_name: byk-public-ruuter
    image: riaee/byk-chatbot-public-ruuter:03
    environment:
      - csrf.enabled=false 
      - csrf.tim_userinfo_url=
      - csrf.ruuter_services_whitelist=
      - legacy-portal-integration.sessionCookieDomain=buerokratt.ee
      - allowed.requested.method.types=POST
      - ruuter.cors.allowedOrigins=https://buerokratt.ee,https://admin.buerokratt.ee,https://tim.buerokratt.ee
      - maxRequestSizeBytes=10000000000
      - default.requested.method.type=POST
      - incoming.request.external.validation.enabled=false
      - requested.method.type.error.http.response.code=200
      - verify.requested.method.type=false
      - incoming.request.external.validation.endpoint=
      - headers.contentSecurityPolicy=
      - logging.level.root=INFO
    volumes:
      - ./ruuter/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./ruuter/public.urls.docker.json:/usr/local/tomcat/urls.env.json:ro
      - ./ruuter/cert.crt:/usr/local/tomcat/conf/cert.crt:ro
      - ./ruuter/key.key:/usr/local/tomcat/conf/key.key:ro
      - ./location/of/training-prv-key:/root/.ssh/training-prv-key:ro
    ports:
      - 8080:8443
    restart: always
    networks:
      - bykstack
        
  byk-private-ruuter:
    container_name: byk-private-ruuter
    image: riaee/byk-chatbot-private-ruuter:03
    environment:
      - legacy-portal-integration.sessionCookieDomain=buerokratt.ee
      - logging.level.root=INFO
      - ruuter.cors.allowedOrigins=https://buerokratt.ee,https://admin.buerokratt.ee,https://seire.buerokratt.ee
      - headers.contentSecurityPolicy=
      - maxRequestSizeBytes=10000000000
      - incoming.request.external.validation.enabled=false 
      - incoming.request.external.validation.endpoint=
      - verify.requested.method.type=false
      - allowed.requested.method.types=POST
      - default.requested.method.type=POST 
      - requested.method.type.error.http.response.code=200
      - csrf.enabled=false
      - csrf.tim_userinfo_url=
      - csrf.ruuter_services_whitelist=
      - ip-whitelist.routes[0].ips[0]=127.0.0.1
      - ip-whitelist.routes[0].patterns[0]=/functions/* 
      - ip-whitelist.routes[1].ips[0]=127.0.0.1
      - ip-whitelist.routes[1].patterns[0]=/get-location-coordinates 
      - ip-whitelist.routes[1].patterns[1]=/get-weather-data 
      - ip-whitelist.routes[1].patterns[2]=/get-weather-station-id 
      - ip-whitelist.routes[1].patterns[3]=/get-weather 
      - ip-whitelist.routes[1].patterns[4]=/param_string_length
    volumes:
      - ./ruuter/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./ruuter/private.urls.docker.json:/usr/local/tomcat/urls.env.json:ro
      - ./ruuter/cert.crt:/usr/local/tomcat/conf/cert.crt:ro
      - ./ruuter/key.key:/usr/local/tomcat/conf/key.key:ro
    ports:
      - 8443:8443
    restart: always
    networks:
      - bykstack
        
  byk-dmapper:
    container_name: byk-dmapper
    image: riaee/byk-dmapper:10
    environment:
      - logging.level.root=INFO
    ports:
      - 8081:8443
    volumes:
      - ./dmapper/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./dmapper/cert.crt:/usr/local/tomcat/conf/tls.crt:ro
      - ./dmapper/key.key:/usr/local/tomcat/conf/tls.key:ro
    restart: always
    networks:
      - bykstack
        
  byk-widget:
    container_name: byk-widget
    image: riaee/byk-chat-widget:14
    ports:
      - 3000:443
    volumes:
      - ./chat-widget/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./chat-widget/index.html:/usr/share/nginx/html/widget/index.html:ro
      - ./chat-widget/cert.crt:/etc/tls/tls.crt:ro
      - ./chat-widget/key.key:/etc/tls/tls.key:ro
    restart: always
    networks:
      - bykstack

  byk-customer-service:
    container_name: byk-customer-service
    image: riaee/byk-customer-service:17
    ports:
      - 3001:443
    volumes:
      - ./customer-support/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./customer-support/env-config.js:/usr/share/nginx/html/customer-service/env-config.js:ro
      - ./customer-support/cert.crt:/etc/ssl/certs/cert.crt:ro
      - ./customer-support/key.key:/etc/ssl/certs/key.key:ro
    restart: always
    networks:
      - bykstack
        
  byk-tim:
    container_name: byk-tim
    image: riaee/byk-tim:07
    environment:
      - security.allowlist.jwt=byk-public-ruuter,byk-private-ruuter,byk-dmapper,byk-widget,byk-customer-service,byk-resql
      - spring.datasource.url=jdbc:postgresql://tim-postgresql:5432/tim
      - spring.datasource.username=tim
      - spring.datasource.password=123
      - security.oauth2.client.client-id=tara_client_id
      - security.oauth2.client.client-secret=tara_client_secret
      - security.oauth2.client.registered-redirect-uri=https://tim.byk.buerokratt.ee/authenticate
      - security.oauth2.client.user-authorization-uri=https://tara-test.ria.ee/oidc/authorize
      - security.oauth2.client.access-token-uri=https://tara-test.ria.ee/oidc/token
      - security.oauth2.resource.jwk.key-set-uri=https://tara-test.ria.ee/oidc/jwks
      - auth.success.redirect.whitelist=https://admin.byk.buerokratt.ee/auth/callback,https://byk.buerokratt.ee,https://byk.buerokratt.ee/auth/callback,https://admin.byk.buerokratt.ee
      - frontpage.redirect.url=https://admin.byk.buerokratt.ee
      - "headers.contentSecurityPolicy=upgrade-insecure-requests; default-src 'self' 'unsafe-inline' 'unsafe-eval' https://tim.byk.buerokratt.ee https://admin.byk.buerokratt.ee https://ruuter.byk.buerokratt.ee https://priv-ruuter.byk.buerokratt.ee byk-tim byk-public-ruuter byk-private-ruuter byk-customer-service; object-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://byk.buerokratt.ee https://admin.byk.buerokratt.ee https://tim.byk.buerokratt.ee; connect-src 'self' https://byk.buerokratt.ee https://tim.byk.buerokratt.eehttps://admin.byk.buerokratt.ee https://ruuter.byk.buerokratt.ee https://priv-ruuter.byk.buerokratt.ee; frame-src 'self'; media-src 'none'"
      - legacy-portal-integration.legacyUrl=arendus.eesti.ee
      - legacy-portal-integration.legacyPortalRefererMarker=https://arendus.eesti.ee/portaal
      - cors.allowedOrigins=https://byk.buerokratt.ee,https://admin.byk.buerokratt.ee,https://ruuter.byk.buerokratt.ee,https://priv-ruuter.buerokratt.ee
      - jwt-integration.signature.issuer=byk.buerokratt.ee
      - jwt-integration.signature.key-store-password=safe_keystore_password
      - jwt-integration.signature.key-store=file:/usr/local/tomcat/jwtkeystore.jks
      - spring.profiles.active=dev
      - legacy-portal-integration.sessionCookieDomain=buerokratt.ee
      - logging.level.root=INFO
    ports:
      - 8085:8443
    volumes:
      - ./tim/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./tim/jwtkeystore.jks:/usr/local/tomcat/jwtkeystore.jks:ro
      - ./tim/cert.crt:/usr/local/tomcat/conf/cert.crt:ro
      - ./tim/key.key:/usr/local/tomcat/conf/key.key:ro
    restart: always
    networks:
      - bykstack
        
  byk-resql:
    container_name: byk-resql
    image: riaee/byk-resql:11
    environment:
      - sqlms.datasources.[0].name=byk
      - sqlms.datasources.[0].jdbcUrl=jdbc:postgresql://users-db:5433/byk?sslmode=require
      - sqlms.datasources.[0].username=byk
      - sqlms.datasources.[0].password=01234
      - logging.level.org.springframework.boot=INFO
    ports:
      - 8082:8443
    volumes:
      - ./resql/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./resql/cert.crt:/usr/local/tomcat/conf/cert.crt:ro
      - ./resql/key.key:/usr/local/tomcat/conf/key.key:ro
    restart: always
    networks:
      - bykstack

  byk-monitor:
    container_name: byk-monitor
    image: riaee/byk:monitoring-20220802
    ports:
      - 81:80
      - 8444:8443
    restart: always
    volumes:
      - ./monitor/cert.crt:/etc/tls/tls.crt
      - ./monitor/key.key:/etc/tls/tls.key
      - ./monitor/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./monitor/env-config.js:/usr/share/nginx/html/monitoring/env-config.js
    networks:
      - bykstack
        
networks:
  bykstack:
    name: bykstack
    driver: bridge
